@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --clr-dark-dark-blue: hsl(209, 23%, 22%);
  --clr-dark-very-dark-blue: hsl(207, 26%, 17%);
  --clr-light-very-dark-blue: hsl(200, 15%, 8%);
  --clr-light-dark-gray: hsl(0, 0%, 52%);
  --clr-light-very-light-gray: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background: var(--clr-light-very-light-gray);
  color: var(--clr-light-very-dark-blue);
}

* {
  box-sizing: border-box;
}

/*  =============
      global styles
      ============= */

/*  =============
      layout
      ============= */

header {
  width: 100%;
  box-shadow: 0px 12px 11px -9px rgba(0, 0, 0, 0.1);
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
